apscheduler==3.0.3
markdown2
pyyaml
chardet
docopt
pytest==2.5.0
dash==1.3.1
dash-html-components==1.0.1
dash-core-components==1.2.1
dash-table==4.3.0
nltk
HTMLParser
lxml
sqlalchemy==1.3.9
xmltodict
feedparser
tomd
